@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
    margin: 0;
    font-family: "Quicksand", serif;
    color: #333;
}

.App {
    background: linear-gradient(to top, white, #00A67E);
}

input {
    background-color: #BFF4DE;
}

textarea {
    background-color: #BFF4DE;
}

.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 10%;
    margin: 0 auto 0;
    background-color: #00A67E;
    padding-top: 1%;
    position: fixed;
    top: 0;
}

.navbar h1 {
    color: #da0606;
    font-size: 40px;
    padding-left: 5%;
}

.navbar .links {
    margin-left: auto;
    margin-right: 5%;
}

.navbar a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
    color: white;
    font-size: 25px;
}

.navbar a:hover {
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
    color: red;
}

.new-blog {
    background-Color: #da0606;
    border-Radius: 8px;
}

.search-bar-heart {
    display: grid;
    grid-template-columns: 90% 10%;
    margin-bottom: 20px;
}

.search-bar-heart input {
    background-color: transparent;
    font-weight: bold;
    font-size: 30px;
    color: #da0606;;
}

.global-heart {
    margin-top: 7px;
}

.content {
    max-width: 70%;
    margin: auto;
    padding: 10% 20px 20px;
}

.home h2 {
    color: #da0606;
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.blog-preview {
    display: grid;
    grid-template-columns: 90% 10%;
    margin: 20px 0;
}

.blog-preview:hover {
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.blog-preview h2 {
    font-size: 20px;
    color: #da0606;
    margin-bottom: 8px;
}

.blog-preview a {
    text-decoration: none;
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(1);
    }

}

.heart-unliked {
    color: black;
    opacity: 0.3;
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-left: 12px;
}

.heart-liked {
    color: red;
    fill: red;
    opacity: 1;
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-left: 12px;
}

.heart-unliked:hover {
    animation: heartbeat 1s infinite;
    fill: red;
    color: red;
    opacity: 1;
    transition: opacity 500ms;
}

.heart-liked:hover {
    animation: heartbeat 1s infinite;
    fill: red;
    color: red;
    opacity: 1;
    transition: opacity 500ms;
}

/* blog details page */

.blog-details {
    text-align: center;
}

.blog-details h2 {
    font-size: 30px;
    color: #da0606;
    margin-bottom: 10px;
}

.blog-details p {
    margin-bottom: 5px;
}

.blog-details div {
    white-space: pre-line;
    margin-top: 20px;
}

.blog-details img {
    margin-top: 20px;
}

.navigation-like{
    display: inline-grid;
    width: 100%;
    grid-template-columns: 33% 33% 33%;
    justify-items: center;
}

.blog-details button {
    background: #da0606;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    width: 40%;
    margin-top: 30px;
}

/*Comments */
.comments{
    text-align: center;
    justify-content: center;
    justify-items: center;
    margin-top: 30px;
}

.comments div{
    width: 60%;
    margin: 0 auto;

}

.commented-element{
   margin-top: 20px;
}

.comment{
    font-size: 20px;
    font-weight: bold;
}

.author-time-stamp{
    font-size:12px;
    color: #da0606;
}


.comments div textarea{
    width: 100%;
    text-align: center;
    margin-top: 10px;

}






/* create new blog form */
.create {
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
}

.create label {
    text-align: left;
    display: block;
    font-weight: bold;
    font-size: 28px;
}

.create form div {
    display: grid;
    grid-template-columns: 50% 10%;
    margin-bottom: 10px;

}

.create h2 {
    color: #da0606;
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.create input, .create textarea, .create select {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 2px solid #da0606;
    box-sizing: border-box;
    display: block;
    background-color: transparent;
    font-weight: bold;
    font-size: 25px;

}

.create button {
    background: #da0606;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
    color: red;
}